body {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.wrap {
	width: 200px;
	height: 300px;
	margin: 0 auto;
	background-color: #eee;
}

.center {
	margin-left: 50%;
	margin-top: 50px;
	width: 100px;
	height: 50px;
	position: absolute;
	left: -50px;
	background-color: #111;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/img_parallax1.jpg");
  margin: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.bgimg-2 {
  background-image: url("../img/img_parallax2.gif");
  margin: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.bgimg-3 {
  background: url("../img/img_parallax3.gif") no-repeat;
  margin: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.bgimg-4 {
  background-image: url("../img/img_parallax4.gif");
  margin: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.bgimg-5 {
  background-image: url("../img/img_parallax5.gif");
  margin: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption-high {
  top: 5%;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 88px;
  letter-spacing: 10px;
}

.caption span.border-light {
  color: #3f3f3f;
  top: 10%;
  padding: 18px;
  font-size: 88px;
  letter-spacing: 10px;
}

.first-des {
	color: #fff;
	background-color: #3f3f3f;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}

.position-relative {
	position: relative;
}

.caption-trans {
	background-color:transparent;
	font-size:25px;
	color: #f7f7f7;
}

.mid-des {
	color:#ddd;
	background-color:#282E34;
	text-align:center;
	padding:50px 80px;
	text-align: center;
  font-size: large;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 60px "Lato", sans-serif;
  color: #fff;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #fff;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3  .bgimg-4  .bgimg-5{
        background-attachment: scroll;
    }
}
